.header {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 2%;
  border: 1px solid rgba(95, 95, 95, 0.13);
}
.header__left {
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;
}
.header__left > .icon {
  cursor: pointer;
  font-size: 1.7rem;
  color: var(--LightFontBlack-x2);
}
.header__logo {
  width: 120px;
  height: 45px;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.header__logo > img {
  width: 100%;
  height: 100;
  object-fit: contain;
}

.header__center {
  display: flex;
  align-items: center;
}

.header__center {
  width: 670px;
}
.header__center > form {
  width: 100%;
  position: relative;
}
.header__center > form > .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1%;
  font-size: 1.3rem;
  color: var(--LightBlack);
  user-select: none;
}
.header__center > form input {
  width: 100%;
  padding: 16px 6px 16px 55px;
  border: none;
  border-radius: 4px;
  background: var(--LightWhite);
  font-size: 0.9rem;
  color: var(--LightFontBlack);
}

.header__right {
  display: flex;
  gap: 8px;
  align-items: center;
  user-select: none;
}
.header__right > .icon {
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--LightBlack);
}

/* menu */

.menu__container .menu__top {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
}

.menu__top .menu__badge {
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;
  background: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translate(-14px, -5px);
  user-select: none;
}
.menu__top .menu__badge:hover .icon {
  color: var(--blue);
}
.menu__badge > .icon {
  width: 60%;
  transition: 0.2s ease-out;
}
.menu__top .menu__profile {
  width: 60px !important;
  height: 60px !important;
}
.menu__top .menu__userEmail {
  margin-top: 15px;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--LightFontBlack-x2);
}
.menu__top .menu__manageAccount {
  display: block;
  margin: 17px 0 30px;
  width: 75%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 70px;
  text-align: center;
  padding: 8px 0;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--LightFontBlack);
  transition: 0.3s ease-in;
  cursor: pointer;
}
.menu__top .menu__manageAccount:hover {
  background: var(--LightWhite);
}
.menu__addAccount {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 17px;
  padding: 14px 4.5%;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.menu__addAccount:hover {
  background: var(--LightWhite);
}
.menu__addAccount > .icon {
  font-size: 1.5rem;
  color: var(--LightBlack);
}
.menu__addAccount > p {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--LightBlack);
}
.menu__btn {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__btn > .menu__signoutBtn {
  color: var(--LightFontBlack) !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  font-size: 1rem;
}
.menu__btn > .menu__signoutBtn:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: var(--LightWhite);
}
.menu__footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
.menu__footer > p {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--LightBlack);
}
.menu__footer > span {
  width: 6px;
  height: 6px;
  border: none;
  border-radius: 50%;
  margin: 0 8px;
  background: rgba(0, 0, 0, 0.7);
}

/* code for responsive */
@media (max-width: 900px) {
  .header__logo {
    display: none !important;
  }
  .header__center {
    width: 97%;
  }
  .header__center > form > .icon {
    display: none;
  }
  .header__right > .icon {
    display: none;
  }
  .header__center > form input {
    padding: 16px 10px 16px 20px;
    font-size: 0.9rem;
  }
}
