.main {
  width: 80%;
  height: 79vh;
  transform: translateY(-70px);
}
.main.active {
  width: 94%;
}

/* header */
.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 3% 0 0;
  border-bottom: 1px solid rgba(95, 95, 95, 0.13);
}

.header__left {
  display: flex;
  align-items: center;
  gap: 17px;
  user-select: none;
}
.header__left > .icon {
  font-size: 1.3rem;
  color: var(--LightBlack);
}
.header__right {
  display: flex;
  align-items: center;
  user-select: none;
}
.header__right > span {
  font-size: 0.8rem;
  color: var(--LightBlack);
}

/* message container */
.main__MessageContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main__MessageContainer::-webkit-scrollbar {
  width: 12px;
  margin-right: 2px;
}
.main__MessageContainer::-webkit-scrollbar-thumb {
  background: rgba(148, 148, 148, 1);
}

.main__MessageContainer:hover::-webkit-scrollbar-thumb {
  display: block !important;
}

.MessageContainer__tabs {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.MessageContainer__tabs > .tab {
  width: 25%;
  height: 56px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 0 10px;
  border: none;
  border-radius: 4px;
  gap: 17px;
  transition: 0.2s ease-in-out;
}
.MessageContainer__tabs > .tab::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  border: none;
  border-radius: 70px;
}

.MessageContainer__tabs > .tab:hover {
  background: var(--SamiWhite);
}
.MessageContainer__tabs > .tab:hover .icon {
  color: var(--Black);
}

.tab > .icon {
  font-size: 1.3rem;
  color: var(--LightBlack);
}
.tab > p {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--LightBlack);
}

/* active classes */

/* primary */
.MessageContainer__tabs > .tab.primary > .icon {
  color: var(--red);
}
.MessageContainer__tabs > .tab.primary > p {
  color: var(--red);
}

.MessageContainer__tabs > .tab.primary::before {
  background: var(--red);
}

/* social */

.MessageContainer__tabs > .tab.social > .icon {
  color: var(--green);
}
.MessageContainer__tabs > .tab.social > p {
  color: var(--green);
}

.MessageContainer__tabs > .tab.social::before {
  background: var(--green);
}

/* Promotions */

.MessageContainer__tabs > .tab.promotions > .icon {
  color: var(--blue);
}
.MessageContainer__tabs > .tab.promotions > p {
  color: var(--blue);
}

.MessageContainer__tabs > .tab.promotions::before {
  background: var(--blue);
}

/* Updates */

.MessageContainer__tabs > .tab.updates > .icon {
  color: var(--green);
}
.MessageContainer__tabs > .tab.updates > p {
  color: var(--green);
}

.MessageContainer__tabs > .tab.updates::before {
  background: var(--green);
}
