.main {
  width: 80%;
  height: 80vh;
  transform: translateY(-70px);
}
.main.active {
  width: 94%;
}

/* header */
.main__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 3% 0 0;
  border-bottom: 1px solid rgba(95, 95, 95, 0.13);
}

.header__left {
  display: flex;
  align-items: center;
  gap: 17px;
  user-select: none;
}
.header__left > .icon {
  font-size: 1.3rem;
  color: var(--LightBlack);
}
.header__right {
  display: flex;
  align-items: center;
  user-select: none;
}
.header__right > span {
  font-size: 0.8rem;
  color: var(--LightBlack);
}

/* message container */
.main__MessageContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main__MessageContainer::-webkit-scrollbar {
  width: 12px;
  margin-right: 2px;
}
.main__MessageContainer::-webkit-scrollbar-thumb {
  background: rgba(148, 148, 148, 1);
}

.main__MessageContainer:hover::-webkit-scrollbar-thumb {
  display: block !important;
}

.MessageContainer__tabs {
  width: 100%;
  padding: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
.MessageContainer__tabs > .tab {
  flex: 0.3;
  height: 56px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 0 10px;
  border: none;
  border-radius: 4px;
  gap: 4px;
  transition: 0.2s ease-in-out;
}
.MessageContainer__tabs > .tab::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  border: none;
  border-radius: 70px;
}

.MessageContainer__tabs > .tab:hover {
  background: var(--SamiWhite);
}
.MessageContainer__tabs > .tab:hover .icon {
  color: var(--Black);
}

.tab > .icon {
  font-size: 1.3rem;
  color: var(--LightBlack);
}
.tab > p {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--LightBlack);
}

.tab > .unreadMsg {
  width: 50px;
  height: 25px;
  color: var(--White);
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  line-height: 25px;
  border: none;
  border-radius: 70px;
  text-transform: capitalize;
}

.main__MessageContainer .composeBtn {
  width: 123px !important;
  height: 49px;
  position: fixed;
  display: none;
  align-items: center;
  gap: 5px;
  background: #0354bd !important;
  border-radius: 12px !important;
  text-transform: capitalize;
  z-index: 900;
}
.tab > .unreadMsg.primary {
  background: var(--red);
}
.tab > .unreadMsg.social {
  background: var(--green);
}
.tab > .unreadMsg.promotions {
  background: var(--blue);
}
.tab > .unreadMsg.updates {
  background: var(--green);
}

/* active classes */

/* primary */
.MessageContainer__tabs > .tab.primary > .icon {
  color: var(--red);
}
.MessageContainer__tabs > .tab.primary > p {
  color: var(--red);
}
.tab > span {
  background: var(--red);
}

.MessageContainer__tabs > .tab.primary::before {
  background: var(--red);
}

/* social */

.MessageContainer__tabs > .tab.social > .icon {
  color: var(--green);
}
.MessageContainer__tabs > .tab.social > p {
  color: var(--green);
}

.MessageContainer__tabs > .tab.social::before {
  background: var(--green);
}

/* Promotions */

.MessageContainer__tabs > .tab.promotions > .icon {
  color: var(--blue);
}
.MessageContainer__tabs > .tab.promotions > p {
  color: var(--blue);
}

.MessageContainer__tabs > .tab.promotions::before {
  background: var(--blue);
}

/* Updates */

.MessageContainer__tabs > .tab.updates > .icon {
  color: var(--green);
}
.MessageContainer__tabs > .tab.updates > p {
  color: var(--green);
}

.MessageContainer__tabs > .tab.updates::before {
  background: var(--green);
}

@media (max-width: 900px) {
  .main {
    width: 100% !important;
    transform: translateY(0);
    height: 90vh;
  }
  .main.active {
    width: 100% !important;
  }
  .main__MessageContainer .composeBtn {
    display: flex !important;
  }
  .main__MessageContainer .composeBtn {
    bottom: 2% !important;
    right: 4% !important;
  }
  .MessageContainer__tabs > .tab:hover {
    background: none !important;
  }
  .main__MessageContainer::-webkit-scrollbar {
    width: 7px;
    margin-right: 2px;
  }
}

@media (max-width: 660px) {
  .MessageContainer__tabs {
    padding: 14px 6px;
    gap: 8px !important;
  }
  .MessageContainer__tabs > .tab {
    height: 46px;
    padding: 0 10px;
    /* gap: 2px; */
    margin: 0 5px;
  }
  .tab > .icon {
    display: none;
  }
  .tab > .unreadMsg {
    position: absolute;
    top: 0%;
    right: 0%;
    margin-bottom: 20px;
  }
  .tab > p {
    transform: translateY(8px);
  }
}

@media (max-width: 430px) {
  MessageContainer__tabs {
    gap: 0px !important;
  }

  .MessageContainer__tabs > .tab {
    height: 48px !important;
    padding: 0 6px !important;
    margin: 0 0px !important;
  }
}

@media (max-width: 380px) {
  MessageContainer__tabs {
    gap: 0px !important;
  }

  .MessageContainer__tabs > .tab {
    height: 55px !important;
    padding: 0 4px !important;
    margin: 0 0px !important;
  }
}
