.message {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0;
  border-bottom: 1px solid rgba(95, 95, 95, 0.137);
  cursor: pointer;
  background: var(--White);
  z-index: 300;
  margin-bottom: 2px;
}
.message.Message_read {
  background: var(--SamiLightWhite);
}
.message:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}
.message__left {
  width: 24.3%;
  display: flex;
  align-items: center;
  user-select: none;
}
.message__left > .icon {
  font-size: 1.3rem;
  color: #5f6368a2;
  opacity: 1;
}
.message__left > .message__username {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--FontBlack);
}

.message__center {
  width: 50%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  user-select: none;
  gap: 6px;
}
.message__center > h5 {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--Black);
  white-space: nowrap;
}
.message__center > p {
  width: 500px;
  font-size: 0.9rem;
  color: var(--LightBlack);
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message__right {
  width: 20%;
}
.message__right > h4 {
  font-size: 0.8rem;
}
