.message {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0;
  border-bottom: 1px solid rgba(95, 95, 95, 0.137);
  cursor: pointer;
  background: var(--White);
  z-index: 300;
  margin-bottom: 2px;
  position: relative;
}
.message.Message_read {
  background: var(--SamiLightWhite);
}
.message:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}
.message__left {
  width: 24.3%;
  display: flex;
  align-items: center;
  user-select: none;
}
.message__left > .icon {
  font-size: 1.3rem;
  color: #5f6368a2;
  opacity: 1;
}
.message__left > .message__username {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--FontBlack);
}

.message__center {
  width: 50%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  user-select: none;
  gap: 6px;
}
.message__center > h5 {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--Black);
  white-space: nowrap;
}
.message__center > p {
  width: 500px;
  font-size: 0.9rem;
  color: var(--LightBlack);
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message__right {
  width: 20%;
}
.message__right > h4 {
  font-size: 0.8rem;
}

/* code for responsive */

@media (max-width: 900px) {
  .message {
    padding: 2px 0px 0 10px;
    gap: 10px;
  }
  .message__left {
    display: none;
  }
  .message__center {
    width: 70% !important;
  }
  .message__right {
    width: 30% !important;
    top: 50%;
    transform: translateY(-0%);
    right: 1%;
  }
}

@media (max-width: 600px) {
  .message {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 4px !important;
  }
  .message__center {
    width: 100% !important;
  }
  .message__right {
    width: 100% !important;
  }
  .message__right > h4 {
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--LightFontBlack);
  }
}

/* @media (max-width: 380px) {
  .message {
    gap: 7px;
  }
  .message__left {
    display: none;
  }
  .message__center {
    width: 75% !important;
  }
  .message__right {
    width: 25% !important;
    top: 50%;
    transform: translateY(-0%);
    right: 1%;
  }
  .message__right > h4 {
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--LightFontBlack);
  }
} */
